﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Memories</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, user-scalable=no">
    <link href="src/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="myApp" ng-init="hideStart=false;showGame=false;endGame=false" ng-controller="theGame">
        <div ng-hide="hideStart" class="startDiv">
            <p class="startMSG">
                You've got only {{time}} minutes to do it :)
            </p>
            <div class="startBTN pulse-button" ng-click="start()">
                <span>Start</span>
                <img src="src/arrb.png" />
            </div>
        </div>
        <div ng-show="showGame" class="game">
            <div ng-repeat="x in images" class="imgDiv">
                <div class="scene scene--card front" ng-click="clicked($event)" attr.data-image="{{x.image}}"
                     attr.data-id="{{x.id}}" attr.data-pair-id="{{x.pair_id}}">
                    <div class="card">
                        <div class="card__face card__face--front"></div>
                        <div class="card__face card__face--back" style="background: url('{{x.image}}') no-repeat center;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="endGame" class="endDiv">
            <p class="thankYou">Thank you for participating!</p>
            <p class="stats">You finished {{pairs/2}} pairs in {{overallTime}} seconds.</p>
        </div>
    </div>
    <script>
        var app = angular.module('myApp', ['ngAnimate']);
        app.controller('theGame', function ($scope, $http, $timeout, $window) {
            $window.scrollTo(0, 0);
            $scope.apiUrl = "https://dev-bot.pico.buzz/memory";
            $http.get($scope.apiUrl)
                .then(function (response) {
                    $scope.userId = response.data.data.user_id;
                    $scope.time = response.data.data.time / 60;
                    $scope.images = response.data.data.images;
                    function sort(array) {
                        return array.sort(function () {
                            return .5 - Math.random();
                        });
                    }
                    function random() {
                        for (var key in $scope.images) {
                            $scope.images = sort($scope.images);
                        }
                    }
                    random();
                });
            $scope.clicks = 0;
            $scope.prevClick = null;
            $scope.flipingBack = false;
            $scope.clicked = function (event) {
                var el = event.currentTarget;
                //ignore success flips and during flips
                if (el.classList.value.includes('success') || $scope.flipingBack) {
                    return;
                }

                //front click
                if (el.classList.value.includes('front')) {
                    el.classList.remove('front');
                    el.classList.add('back');
                    el.firstElementChild.classList.toggle('is-flipped');
                    $scope.clicks++;
                }
                //back click
                else {
                    return;
                }
                if ($scope.clicks % 2 == 0) {

                    if ($scope.prevClick.attributes["attr.data-id"].value == el.attributes["attr.data-pair-id"].value) {
                        //mark as pair
                        $scope.prevClick.classList.add('success');
                        el.classList.add('success');
                    }
                    else {
                        //flip them back
                        $scope.flipingBack = true;
                        setTimeout(function () {
                            $scope.prevClick.classList.remove('back');
                            $scope.prevClick.classList.add('front');
                            $scope.prevClick.firstElementChild.classList.toggle('is-flipped');
                            el.classList.remove('back');
                            el.classList.add('front');
                            el.firstElementChild.classList.toggle('is-flipped');
                            $scope.flipingBack = false;
                        }, 1000);
                    }
                }
                if (!$scope.flipingBack) {
                    $scope.prevClick = el;
                }
                if (document.getElementsByClassName('success').length == $scope.images.length) {
                    $scope.endTime = +new Date();
                    var req = {
                        method: 'POST',
                        url: $scope.apiUrl,
                        headers: {
                            'Content-Type': 'text/plain'
                        },
                        data: {
                            user_id: $scope.userId,
                            time: $scope.startTime,
                            matches: $scope.endTime
                        }
                    }
                    $http(req)
                        .then(function (success) {
                            console.log(success);
                            $scope.showGame = false;
                            $scope.overallTime = (($scope.endTime - $scope.startTime) / 1000);
                            $scope.pairs = document.getElementsByClassName('success').length;
                            $scope.endGame = true;
                        }, function (error) {
                            console.log(error);
                        });
                }
            };
            $scope.start = function () {
                $scope.hideStart = true;
                $scope.showGame = true;
                $scope.startTime = +new Date();

                //end game after time running out
                $timeout(function () {

                    //game already ended, abort
                    if ($scope.endGame) return;

                    $scope.endTime = +new Date();
                    var req = {
                        method: 'POST',
                        url: $scope.apiUrl,
                        headers: {
                            'Content-Type': 'text/plain'
                        },
                        data: {
                            user_id: $scope.userId,
                            time: $scope.startTime,
                            matches: $scope.endTime
                        }
                    }
                    $http(req)
                        .then(function (success) {
                            console.log(success);
                            $scope.showGame = false;
                            $scope.overallTime = ($scope.time*60);
                            $scope.pairs = document.getElementsByClassName('success').length;

                            $scope.endGame = true;
                        }, function (error) {
                            console.log(error);
                        });
                }, 1000 * $scope.time * 60);
            };
        });
    </script>

</body>
</html>