﻿body {
    background-color: #0447a0;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
}

img {
    width: 100%;
}

.ng-repeat {
    width: 50%;
}

.imgDiv {
    width: 130px;
    height: 130px;
    float: left;
    margin: 5px auto;
}

.scene {
    width: 100%;
    height: 100%;
    float: left;
    perspective: 600px;
}

div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

    .card.is-flipped {
        transform: rotateY(180deg);
    }

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 9px 17px rgba(0,0,0,0.25), 0 10px 20px rgba(0,0,0,0.5);
}

.card__face--front {
        background: url(front.png) no-repeat center;
        background-size: 100% !important;
    }

.card__face--back {
    transform: rotateY(180deg);
    background-size: 100% !important;
}

.startDiv {
    height: calc(100vh - 60px);
    width: 100%;
    text-align: center;
    background-color: #0447a0 !important;
    background: url(bg.jpg) no-repeat;
    background-size: 100%;
    font-size: 40px;
    padding-top: 10%;
    letter-spacing: 1px;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: ease;
    position: absolute;
    top: 0;
    z-index: 9999;
}

    .startDiv.ng-hide {
        top: -100vh;
    }

.endDiv {
    height: calc(100vh - 60px);
    color: white;
    width: 100%;
    color: #101f48;
    text-align: center;
    font-size: 40px;
    padding-top: 10%;
    letter-spacing: 1px;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: ease;
    position: absolute;
    top: 0;
    z-index: 99;
    background: url(bg.jpg) no-repeat;
    background-size: 100%;
}

    .endDiv.ng-hide {
        top: -100vh;
    }

.startBTN {
    display: flex;
    position: absolute !important;
    bottom: 10%;
    justify-content: space-around;
    width: 50%;
    left: 25%;
    margin: 0 auto;
    line-height: 60px;
    border: 1px solid #ffc325;
    border-radius: 50px;
    background: #ffc325;
    box-shadow: 0 9px 17px rgba(0,0,0,0.16), 0 10px 20px rgba(0,0,0,0.23);
}

    .startBTN span {
        vertical-align: middle;
        font-size: 30px;
        margin-left: 10px;
        color: #101f48;
    }

    .startBTN img {
        vertical-align: middle;
        height: 40px;
        margin: 10px 0;
        width: auto;
    }

.startMSG {
    color: #101f48;
    font-size: 30px;
    margin: 7%;
}

.endDiv p {
    padding: 25px;
}

.thankYou {
    padding-top: 0 !important;
    margin-top: 0;
}

.stats {
    color: #ffc325;
    position: absolute;
    bottom: 0;
    font-size: 30px;
    margin-bottom: 50px;
}

.game {
    background: #0447a0;
    height: calc(100vh - 60px);
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: ease;
    position: relative;
    top: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: auto auto;
}

    .game.ng-hide {
        top: 100vh;
    }


.pulse-button {
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

    .pulse-button:hover {
        -webkit-animation: none;
    }

@-webkit-keyframes pulse {
    0% {
        -moz-transform: perspective(1px) scale(0.9);
        -ms-transform: perspective(1px) scale(0.9);
        -webkit-transform: perspective(1px) scale(0.9);
        transform: perspective(1px) scale(0.9);
    }

    70% {
        -moz-transform: perspective(1px) scale(1);
        -ms-transform: perspective(1px) scale(1);
        -webkit-transform: perspective(1px) scale(1);
        transform: perspective(1px) scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }

    100% {
        -moz-transform: perspective(1px) scale(0.9);
        -ms-transform: perspective(1px) scale(0.9);
        -webkit-transform: perspective(1px) scale(0.9);
        transform: perspective(1px) scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

.pulse-button:after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 50px;
}

.pulse-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
